<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Configuration sections -->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Es.Udc.DotNet.WebMovies.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!-- General application settings -->
  <appSettings>
    <add key="applicationName" value="WebMovies" />
  </appSettings>

  <!-- Connection strings -->
  <connectionStrings>
    <add name="WebMoviesEntities" connectionString="metadata=res://*/WebMoviesEntityDataModel.csdl|res://*/WebMoviesEntityDataModel.ssdl|res://*/WebMoviesEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLExpress;initial catalog=PracticaIS;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!-- Logging configuration -->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="S:\Log\WebMovies.log" header="" footer="" formatter="Simple Log Format" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="FlatFile TraceListener" />
    </listeners>
    <formatters>
      <add template="[{timestamp}] [{category}] ({severity}) - {message} " type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Simple Log Format" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <!-- Unity configuration -->
  <unity>
    <typeAliases>
      <!-- <typeAlias alias="aliasName" type="Class FullName, Assembly Name" /> -->
      <!-- Business Objects -->
      <typeAlias alias="IUserProfileDao" type="Es.Udc.DotNet.WebMovies.Model.Daos.UserProfileDao.IUserProfileDao, WebMovies.Model" />
      <typeAlias alias="UserProfileDaoEntityFramework" type="Es.Udc.DotNet.WebMovies.Model.Daos.UserProfileDao.UserProfileDaoEntityFramework, WebMovies.Model" />
      <typeAlias alias="ICountryDao" type="Es.Udc.DotNet.WebMovies.Model.Daos.CountryDao.ICountryDao, WebMovies.Model" />
      <typeAlias alias="CountryDaoEntityFramework" type="Es.Udc.DotNet.WebMovies.Model.Daos.CountryDao.CountryDaoEntityFramework, WebMovies.Model" />
      <typeAlias alias="ILanguageDao" type="Es.Udc.DotNet.WebMovies.Model.Daos.LanguageDao.ILanguageDao, WebMovies.Model" />
      <typeAlias alias="LanguageDaoEntityFramework" type="Es.Udc.DotNet.WebMovies.Model.Daos.LanguageDao.LanguageDaoEntityFramework, WebMovies.Model" />
      <typeAlias alias="ILinkDao" type="Es.Udc.DotNet.WebMovies.Model.Daos.LinkDao.ILinkDao, WebMovies.Model" />
      <typeAlias alias="LinkDaoEntityFramework" type="Es.Udc.DotNet.WebMovies.Model.Daos.LinkDao.LinkDaoEntityFramework, WebMovies.Model" />
      <typeAlias alias="ILabelDao" type="Es.Udc.DotNet.WebMovies.Model.Daos.LabelDao.ILabelDao, WebMovies.Model" />
      <typeAlias alias="LabelDaoEntityFramework" type="Es.Udc.DotNet.WebMovies.Model.Daos.LabelDao.LabelDaoEntityFramework, WebMovies.Model" />
      <typeAlias alias="IRatingDao" type="Es.Udc.DotNet.WebMovies.Model.Daos.RatingDao.IRatingDao, WebMovies.Model" />
      <typeAlias alias="RatingDaoEntityFramework" type="Es.Udc.DotNet.WebMovies.Model.Daos.RatingDao.RatingDaoEntityFramework, WebMovies.Model" />
      <typeAlias alias="ICommentDao" type="Es.Udc.DotNet.WebMovies.Model.Daos.CommentDao.ICommentDao, WebMovies.Model" />
      <typeAlias alias="CommentDaoEntityFramework" type="Es.Udc.DotNet.WebMovies.Model.Daos.CommentDao.CommentDaoEntityFramework, WebMovies.Model" />
      <typeAlias alias="IFavoriteDao" type="Es.Udc.DotNet.WebMovies.Model.Daos.FavoriteDao.IFavoriteDao, WebMovies.Model" />
      <typeAlias alias="FavoriteDaoEntityFramework" type="Es.Udc.DotNet.WebMovies.Model.Daos.FavoriteDao.FavoriteDaoEntityFramework, WebMovies.Model" />
      <typeAlias alias="IMovieProxy" type="Es.Udc.DotNet.WebMovies.Model.Daos.MovieProxy.IMovieProxy, WebMovies.Model" />
      <typeAlias alias="MovieProxy" type="Es.Udc.DotNet.WebMovies.Model.Daos.MovieProxy.MovieProxy, WebMovies.Model" />
      <!-- Services -->
      <typeAlias alias="IUserService" type="Es.Udc.DotNet.WebMovies.Model.Services.UserService.IUserService, WebMovies.Model" />
      <typeAlias alias="UserService" type="Es.Udc.DotNet.WebMovies.Model.Services.UserService.UserService, WebMovies.Model" />
      <typeAlias alias="ILocalizationService" type="Es.Udc.DotNet.WebMovies.Model.Services.LocalizationService.ILocalizationService, WebMovies.Model" />
      <typeAlias alias="LocalizationService" type="Es.Udc.DotNet.WebMovies.Model.Services.LocalizationService.LocalizationService, WebMovies.Model" />
      <typeAlias alias="IMovieService" type="Es.Udc.DotNet.WebMovies.Model.Services.MovieService.IMovieService, WebMovies.Model" />
      <typeAlias alias="MovieService" type="Es.Udc.DotNet.WebMovies.Model.Services.MovieService.MovieService, WebMovies.Model" />
      <typeAlias alias="ILinkService" type="Es.Udc.DotNet.WebMovies.Model.Services.LinkService.ILinkService, WebMovies.Model" />
      <typeAlias alias="LinkService" type="Es.Udc.DotNet.WebMovies.Model.Services.LinkService.LinkService, WebMovies.Model" />
      <typeAlias alias="ILabelService" type="Es.Udc.DotNet.WebMovies.Model.Services.LabelService.ILabelService, WebMovies.Model" />
      <typeAlias alias="LabelService" type="Es.Udc.DotNet.WebMovies.Model.Services.LabelService.LabelService, WebMovies.Model" />
      <typeAlias alias="IRatingService" type="Es.Udc.DotNet.WebMovies.Model.Services.RatingService.IRatingService, WebMovies.Model" />
      <typeAlias alias="RatingService" type="Es.Udc.DotNet.WebMovies.Model.Services.RatingService.RatingService, WebMovies.Model" />
      <typeAlias alias="ICommentService" type="Es.Udc.DotNet.WebMovies.Model.Services.CommentService.ICommentService, WebMovies.Model" />
      <typeAlias alias="CommentService" type="Es.Udc.DotNet.WebMovies.Model.Services.CommentService.CommentService, WebMovies.Model" />
      <typeAlias alias="IFavoriteService" type="Es.Udc.DotNet.WebMovies.Model.Services.FavoriteService.IFavoriteService, WebMovies.Model" />
      <typeAlias alias="FavoriteService" type="Es.Udc.DotNet.WebMovies.Model.Services.FavoriteService.FavoriteService, WebMovies.Model" />
      <!-- Framework -->
      <typeAlias alias="InterfaceInterceptor" type="Microsoft.Practices.Unity.InterceptionExtension.InterfaceInterceptor, Microsoft.Practices.Unity.Interception" />
      <typeAlias alias="ObjectContext" type="System.Data.Objects.ObjectContext, System.Data.Entity" />
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    </typeAliases>

    <containers>
      <container>
        <types>
          <!-- Bussiness Objects -->
          <type type="IUserProfileDao" mapTo="UserProfileDaoEntityFramework" />
          <type type="ICountryDao" mapTo="CountryDaoEntityFramework" />
          <type type="ILanguageDao" mapTo="LanguageDaoEntityFramework" />
          <type type="ILinkDao" mapTo="LinkDaoEntityFramework" />
          <type type="ILabelDao" mapTo="LabelDaoEntityFramework" />
          <type type="IRatingDao" mapTo="RatingDaoEntityFramework" />
          <type type="ICommentDao" mapTo="CommentDaoEntityFramework" />
          <type type="IFavoriteDao" mapTo="FavoriteDaoEntityFramework" />
          <type type="IMovieProxy" mapTo="MovieProxy" />
          <!-- Services -->
          <type type="IUserService" mapTo="UserService" />
          <type type="ILocalizationService" mapTo="LocalizationService" />
          <type type="IMovieService" mapTo="MovieService" />
          <type type="ILinkService" mapTo="LinkService" />
          <type type="ILabelService" mapTo="LabelService" />
          <type type="IRatingService" mapTo="RatingService" />
          <type type="ICommentService" mapTo="CommentService" />
          <type type="IFavoriteService" mapTo="FavoriteService" />
          <!-- Framework -->
          <type type="ObjectContext" mapTo="ObjectContext">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, &#xD;&#xA;                Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="connectionString" parameterType="System.String">
                  <value value="metadata=res://*/WebMoviesEntityDataModel.csdl|res://*/WebMoviesEntityDataModel.ssdl|res://*/WebMoviesEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;&#xD;&#xA;              Data Source=localhost\SQLExpress;&#xD;&#xA;              Initial Catalog=PracticaIs;&#xD;&#xA;              Persist Security Info=True;&#xD;&#xA;              Integrated Security=True;&#xD;&#xA;              MultipleActiveResultSets=True&quot;" />
                </param>
              </constructor>
            </typeConfig>
          </type>
        </types>
        <extensions>
          <add type="Microsoft.Practices.Unity.InterceptionExtension.Interception, Microsoft.Practices.Unity.Interception" />
        </extensions>
        <!-- Interception schema for transactional methods -->
        <extensionConfig>
          <add name="TransactionalIntercepcion" type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationElement, Microsoft.Practices.Unity.Interception.Configuration">
            <interceptors>
              <interceptor type="InterfaceInterceptor">
                <default type="IUserService" />
                <default type="ILocalizationService" />
                <default type="IMovieService" />
                <default type="ILinkService" />
                <default type="ILabelService" />
                <default type="IRatingService" />
                <default type="ICommentService" />
                <default type="IFavoriteService" />
              </interceptor>
            </interceptors>
          </add>
        </extensionConfig>
      </container>
    </containers>
  </unity>

  <!-- Application properties -->
  <applicationSettings>
    <Es.Udc.DotNet.WebMovies.Model.Properties.Settings>
      <setting name="WebShop_sourceAddress" serializeAs="String">
        <value>localhost:8080/webshop</value>
      </setting>
      <setting name="WebMovies_connectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="WebShop_moviesCategoryId" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="WebMovies_providerInvariantName" serializeAs="String">
        <value>System.Data.SqlClient</value>
      </setting>
    </Es.Udc.DotNet.WebMovies.Model.Properties.Settings>
  </applicationSettings>

</configuration>
