<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- Configuration sections -->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Es.Udc.DotNet.WebMovies.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!-- General application settings -->
  <appSettings>
    <add key="applicationName" value="WebMovies" />
  </appSettings>

  <!-- The following connection string is not currently used, because the
  connection string is being obtained from the Unity section. However, it could
  be required if the user wants to instantiate a short life context using the
  following code:
  using (WebMoviesEntitiesContainer container =
      new WebMoviesEntitiesContainer()) -->
  <connectionStrings>
    <add name="WebMoviesEntities" connectionString="metadata=res://*/WebMoviesEntityDataModel.csdl|res://*/WebMoviesEntityDataModel.ssdl|res://*/WebMoviesEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLExpress;Initial Catalog=PracticaIS;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!-- Logging configuration -->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="S:\Log\PracticaISWeb.log" header="" footer="" formatter="Simple Log Format" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="FlatFile TraceListener" />
    </listeners>
    <formatters>
      <add template="[{timestamp}] [{category}] ({severity}) - {message} " type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Simple Log Format" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>

  <!-- Unity configuration -->
  <unity>

    <typeAliases>
      <!-- <typeAlias alias="aliasName" type="Class FullName, Assembly Name" /> -->
      <!-- Business Objects -->
      <typeAlias alias="IUserProfileDao" type="Es.Udc.DotNet.WebMovies.Model.Daos.UserProfileDao.IUserProfileDao, WebMovies.Model" />
      <typeAlias alias="UserProfileDaoEntityFramework" type="Es.Udc.DotNet.WebMovies.Model.Daos.UserProfileDao.UserProfileDaoEntityFramework, WebMovies.Model" />
      <typeAlias alias="ICountryDao" type="Es.Udc.DotNet.WebMovies.Model.Daos.CountryDao.ICountryDao, WebMovies.Model" />
      <typeAlias alias="CountryDaoEntityFramework" type="Es.Udc.DotNet.WebMovies.Model.Daos.CountryDao.CountryDaoEntityFramework, WebMovies.Model" />
      <typeAlias alias="ILanguageDao" type="Es.Udc.DotNet.WebMovies.Model.Daos.LanguageDao.ILanguageDao, WebMovies.Model" />
      <typeAlias alias="LanguageDaoEntityFramework" type="Es.Udc.DotNet.WebMovies.Model.Daos.LanguageDao.LanguageDaoEntityFramework, WebMovies.Model" />
      <typeAlias alias="ILinkDao" type="Es.Udc.DotNet.WebMovies.Model.Daos.LinkDao.ILinkDao, WebMovies.Model" />
      <typeAlias alias="LinkDaoEntityFramework" type="Es.Udc.DotNet.WebMovies.Model.Daos.LinkDao.LinkDaoEntityFramework, WebMovies.Model" />
      <typeAlias alias="ILabelDao" type="Es.Udc.DotNet.WebMovies.Model.Daos.LabelDao.ILabelDao, WebMovies.Model" />
      <typeAlias alias="LabelDaoEntityFramework" type="Es.Udc.DotNet.WebMovies.Model.Daos.LabelDao.LabelDaoEntityFramework, WebMovies.Model" />
      <typeAlias alias="IRatingDao" type="Es.Udc.DotNet.WebMovies.Model.Daos.RatingDao.IRatingDao, WebMovies.Model" />
      <typeAlias alias="RatingDaoEntityFramework" type="Es.Udc.DotNet.WebMovies.Model.Daos.RatingDao.RatingDaoEntityFramework, WebMovies.Model" />
      <typeAlias alias="ICommentDao" type="Es.Udc.DotNet.WebMovies.Model.Daos.CommentDao.ICommentDao, WebMovies.Model" />
      <typeAlias alias="CommentDaoEntityFramework" type="Es.Udc.DotNet.WebMovies.Model.Daos.CommentDao.CommentDaoEntityFramework, WebMovies.Model" />
      <typeAlias alias="IFavoriteDao" type="Es.Udc.DotNet.WebMovies.Model.Daos.FavoriteDao.IFavoriteDao, WebMovies.Model" />
      <typeAlias alias="FavoriteDaoEntityFramework" type="Es.Udc.DotNet.WebMovies.Model.Daos.FavoriteDao.FavoriteDaoEntityFramework, WebMovies.Model" />
      <typeAlias alias="IMovieProxy" type="Es.Udc.DotNet.WebMovies.Model.Daos.MovieProxy.IMovieProxy, WebMovies.Model" />
      <typeAlias alias="MovieProxy" type="Es.Udc.DotNet.WebMovies.Model.Daos.MovieProxy.MovieProxy, WebMovies.Model" />
      <!-- Services -->
      <typeAlias alias="IUserService" type="Es.Udc.DotNet.WebMovies.Model.Services.UserService.IUserService, WebMovies.Model" />
      <typeAlias alias="UserService" type="Es.Udc.DotNet.WebMovies.Model.Services.UserService.UserService, WebMovies.Model" />
      <typeAlias alias="ILocalizationService" type="Es.Udc.DotNet.WebMovies.Model.Services.LocalizationService.ILocalizationService, WebMovies.Model" />
      <typeAlias alias="LocalizationService" type="Es.Udc.DotNet.WebMovies.Model.Services.LocalizationService.LocalizationService, WebMovies.Model" />
      <typeAlias alias="IMovieService" type="Es.Udc.DotNet.WebMovies.Model.Services.MovieService.IMovieService, WebMovies.Model" />
      <typeAlias alias="MovieService" type="Es.Udc.DotNet.WebMovies.Model.Services.MovieService.MovieService, WebMovies.Model" />
      <typeAlias alias="ILinkService" type="Es.Udc.DotNet.WebMovies.Model.Services.LinkService.ILinkService, WebMovies.Model" />
      <typeAlias alias="LinkService" type="Es.Udc.DotNet.WebMovies.Model.Services.LinkService.LinkService, WebMovies.Model" />
      <typeAlias alias="ILabelService" type="Es.Udc.DotNet.WebMovies.Model.Services.LabelService.ILabelService, WebMovies.Model" />
      <typeAlias alias="LabelService" type="Es.Udc.DotNet.WebMovies.Model.Services.LabelService.LabelService, WebMovies.Model" />
      <typeAlias alias="IRatingService" type="Es.Udc.DotNet.WebMovies.Model.Services.RatingService.IRatingService, WebMovies.Model" />
      <typeAlias alias="RatingService" type="Es.Udc.DotNet.WebMovies.Model.Services.RatingService.RatingService, WebMovies.Model" />
      <typeAlias alias="ICommentService" type="Es.Udc.DotNet.WebMovies.Model.Services.CommentService.ICommentService, WebMovies.Model" />
      <typeAlias alias="CommentService" type="Es.Udc.DotNet.WebMovies.Model.Services.CommentService.CommentService, WebMovies.Model" />
      <typeAlias alias="IFavoriteService" type="Es.Udc.DotNet.WebMovies.Model.Services.FavoriteService.IFavoriteService, WebMovies.Model" />
      <typeAlias alias="FavoriteService" type="Es.Udc.DotNet.WebMovies.Model.Services.FavoriteService.FavoriteService, WebMovies.Model" />
      <!-- Framework -->
      <typeAlias alias="InterfaceInterceptor" type="Microsoft.Practices.Unity.InterceptionExtension.InterfaceInterceptor, Microsoft.Practices.Unity.Interception" />
      <typeAlias alias="ObjectContext" type="System.Data.Objects.ObjectContext, System.Data.Entity" />
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    </typeAliases>

    <containers>
      <container>
        <types>
          <!-- Bussiness Objects -->
          <type type="IUserProfileDao" mapTo="UserProfileDaoEntityFramework" />
          <type type="ICountryDao" mapTo="CountryDaoEntityFramework" />
          <type type="ILanguageDao" mapTo="LanguageDaoEntityFramework" />
          <type type="ILinkDao" mapTo="LinkDaoEntityFramework" />
          <type type="ILabelDao" mapTo="LabelDaoEntityFramework" />
          <type type="IRatingDao" mapTo="RatingDaoEntityFramework" />
          <type type="ICommentDao" mapTo="CommentDaoEntityFramework" />
          <type type="IFavoriteDao" mapTo="FavoriteDaoEntityFramework" />
          <type type="IMovieProxy" mapTo="MovieProxy" />
          <!-- Services -->
          <type type="IUserService" mapTo="UserService" />
          <type type="ILocalizationService" mapTo="LocalizationService" />
          <type type="IMovieService" mapTo="MovieService" />
          <type type="ILinkService" mapTo="LinkService" />
          <type type="ILabelService" mapTo="LabelService" />
          <type type="IRatingService" mapTo="RatingService" />
          <type type="ICommentService" mapTo="CommentService" />
          <type type="IFavoriteService" mapTo="FavoriteService" />
          <!-- Framework -->
          <type type="ObjectContext" mapTo="ObjectContext">
            <lifetime type="singleton" />
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement, &#xD;&#xA;                Microsoft.Practices.Unity.Configuration">
              <constructor>
                <param name="connectionString" parameterType="System.String">
                  <value value="metadata=res://*/WebMoviesEntityDataModel.csdl|res://*/WebMoviesEntityDataModel.ssdl|res://*/WebMoviesEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;&#xD;&#xA;              Data Source=localhost\SQLExpress;&#xD;&#xA;              Initial Catalog=PracticaIS;&#xD;&#xA;              Persist Security Info=True;&#xD;&#xA;              Integrated Security=True;&#xD;&#xA;              MultipleActiveResultSets=True&quot;" />
                </param>
              </constructor>
            </typeConfig>
          </type>
        </types>
        <extensions>
          <add type="Microsoft.Practices.Unity.InterceptionExtension.Interception, Microsoft.Practices.Unity.Interception" />
        </extensions>
        <!-- Interception schema for transactional methods -->
        <extensionConfig>
          <add name="TransactionalIntercepcion" type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationElement, Microsoft.Practices.Unity.Interception.Configuration">
            <interceptors>
              <interceptor type="InterfaceInterceptor">
                <default type="IUserService" />
                <default type="ILocalizationService" />
                <default type="IMovieService" />
                <default type="ILinkService" />
                <default type="ILabelService" />
                <default type="IRatingService" />
                <default type="ICommentService" />
                <default type="IFavoriteService" />
              </interceptor>
            </interceptors>
          </add>
        </extensionConfig>
      </container>
    </containers>

  </unity>

  <!-- Application properties -->
  <applicationSettings>
    <Es.Udc.DotNet.WebMovies.Test.Properties.Settings>
      <setting name="userLogin" serializeAs="String">
        <value>login</value>
      </setting>
      <setting name="userPassword" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="userName" serializeAs="String">
        <value>Name</value>
      </setting>
      <setting name="userLastName" serializeAs="String">
        <value>Surname</value>
      </setting>
      <setting name="userEmail" serializeAs="String">
        <value>email@domain.com</value>
      </setting>
      <setting name="userLanguage" serializeAs="String">
        <value>es</value>
      </setting>
      <setting name="userCountry" serializeAs="String">
        <value>ES</value>
      </setting>
      <setting name="linkName" serializeAs="String">
        <value>Link</value>
      </setting>
      <setting name="linkDescription" serializeAs="String">
        <value>This is a link.</value>
      </setting>
      <setting name="linkUrl" serializeAs="String">
        <value>http://www.url.com/</value>
      </setting>
      <setting name="commentText" serializeAs="String">
        <value>Text for a comment.</value>
      </setting>
      <setting name="movie2Id" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="nonExistentUserId" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="nonExistentMovieId" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="nonExistentLinkId" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="nonExistentCommentId" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="nonExistentRatingId" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="nonExistentFavoriteId" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="favoriteName" serializeAs="String">
        <value>Favorite</value>
      </setting>
      <setting name="favoriteDescription" serializeAs="String">
        <value>This is a favorite.</value>
      </setting>
      <setting name="link100Name" serializeAs="String">
        <value>IMDB</value>
      </setting>
      <setting name="link100Description" serializeAs="String">
        <value>Link to the page on IMDb for the movie</value>
      </setting>
      <setting name="link100Url" serializeAs="String">
        <value>http://www.imdb.com/title/tt0110357/</value>
      </setting>
      <setting name="favorite100Name" serializeAs="String">
        <value>Lion King (IMDb)</value>
      </setting>
      <setting name="favorite100Description" serializeAs="String">
        <value>Lion King IMDb page</value>
      </setting>
      <setting name="commentText2" serializeAs="String">
        <value>Updated text for a comment.</value>
      </setting>
      <setting name="comment2Text" serializeAs="String">
        <value>Text for another comment.</value>
      </setting>
      <setting name="comment0Text" serializeAs="String">
        <value>Text for a previous comment.</value>
      </setting>
      <setting name="comment3Text" serializeAs="String">
        <value>Text for even another comment.</value>
      </setting>
      <setting name="link2Description" serializeAs="String">
        <value>This is a second link.</value>
      </setting>
      <setting name="link2Name" serializeAs="String">
        <value>Link 2</value>
      </setting>
      <setting name="link2Url" serializeAs="String">
        <value>http://www.url2.org/</value>
      </setting>
      <setting name="favorite2Name" serializeAs="String">
        <value>2nd favorite</value>
      </setting>
      <setting name="favorite2Description" serializeAs="String">
        <value>This is another favorite.</value>
      </setting>
      <setting name="movie2Title" serializeAs="String">
        <value>The Intouchables</value>
      </setting>
      <setting name="movie3Title" serializeAs="String">
        <value>Black Swan</value>
      </setting>
      <setting name="movie3Id" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="movie4Id" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="movie4Title" serializeAs="String">
        <value>Sin City</value>
      </setting>
      <setting name="favorite3Name" serializeAs="String">
        <value>3rd favorite</value>
      </setting>
      <setting name="favorite3Description" serializeAs="String">
        <value>Another favorite more.</value>
      </setting>
      <setting name="link3Name" serializeAs="String">
        <value>Link 3</value>
      </setting>
      <setting name="link3Description" serializeAs="String">
        <value>This is a third link.</value>
      </setting>
      <setting name="link3Url" serializeAs="String">
        <value>https://three.url3.net/</value>
      </setting>
      <setting name="user2Country" serializeAs="String">
        <value>FR</value>
      </setting>
      <setting name="user3Country" serializeAs="String">
        <value>ES</value>
      </setting>
      <setting name="user2Email" serializeAs="String">
        <value>second@email.org</value>
      </setting>
      <setting name="user3Email" serializeAs="String">
        <value>user3@udc.es</value>
      </setting>
      <setting name="user2Language" serializeAs="String">
        <value>fr</value>
      </setting>
      <setting name="user3Language" serializeAs="String">
        <value>gl</value>
      </setting>
      <setting name="user2LastName" serializeAs="String">
        <value>Secondname</value>
      </setting>
      <setting name="user3LastName" serializeAs="String">
        <value>III</value>
      </setting>
      <setting name="user2Login" serializeAs="String">
        <value>user2</value>
      </setting>
      <setting name="user3Login" serializeAs="String">
        <value>user3</value>
      </setting>
      <setting name="user2Name" serializeAs="String">
        <value>Firstname</value>
      </setting>
      <setting name="user3Name" serializeAs="String">
        <value>Person</value>
      </setting>
      <setting name="user2Password" serializeAs="String">
        <value>p455w0rd</value>
      </setting>
      <setting name="user3Password" serializeAs="String">
        <value>33333333</value>
      </setting>
      <setting name="favoriteName2" serializeAs="String">
        <value>Favorite (edited)</value>
      </setting>
      <setting name="favoriteDescription2" serializeAs="String">
        <value>This is a favorite edited.</value>
      </setting>
      <setting name="labelText" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="label2Text" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="label3Text" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="nonExistentLabelId" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="user4Country" serializeAs="String">
        <value>US</value>
      </setting>
      <setting name="user4Email" serializeAs="String">
        <value>four@foursquare.com</value>
      </setting>
      <setting name="user4Language" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="user4LastName" serializeAs="String">
        <value>Fourson</value>
      </setting>
      <setting name="user4Login" serializeAs="String">
        <value>user4</value>
      </setting>
      <setting name="user4Name" serializeAs="String">
        <value>Four</value>
      </setting>
      <setting name="user4Password" serializeAs="String">
        <value>fourfour</value>
      </setting>
      <setting name="comment100Text" serializeAs="String">
        <value>Amazing</value>
      </setting>
      <setting name="comment101Text" serializeAs="String">
        <value>This movie isn't worth watching</value>
      </setting>
      <setting name="linkName2" serializeAs="String">
        <value>Edited link</value>
      </setting>
      <setting name="linkDescription2" serializeAs="String">
        <value>This is an *edited* link.</value>
      </setting>
      <setting name="userPasswordEncrypted" serializeAs="String">
        <value>XohImNooBHFR0OVvjcYpJ3NgPQ1qq73WKhHvch0VQtg=</value>
      </setting>
      <setting name="userPassword2" serializeAs="String">
        <value>password2</value>
      </setting>
      <setting name="userPassword2Encrypted" serializeAs="String">
        <value>bPYV1byqx3g1Ko8fM2DSPwLzTsGC4lmJf9bOSF14cNQ=</value>
      </setting>
      <setting name="userCountry2" serializeAs="String">
        <value>GB</value>
      </setting>
      <setting name="userEmail2" serializeAs="String">
        <value>email2@domain.com</value>
      </setting>
      <setting name="userLanguage2" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="userLastName2" serializeAs="String">
        <value>Surnameson</value>
      </setting>
      <setting name="userName2" serializeAs="String">
        <value>Named</value>
      </setting>
      <setting name="movie1Id" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="movie1Title" serializeAs="String">
        <value>The Artist</value>
      </setting>
      <setting name="movie1Price" serializeAs="String">
        <value>50.5</value>
      </setting>
      <setting name="movie2Price" serializeAs="String">
        <value>59.99</value>
      </setting>
      <setting name="movie3Price" serializeAs="String">
        <value>59.99</value>
      </setting>
      <setting name="movie4Price" serializeAs="String">
        <value>59.99</value>
      </setting>
      <setting name="movie5Price" serializeAs="String">
        <value>59.99</value>
      </setting>
      <setting name="movie6Price" serializeAs="String">
        <value>59.99</value>
      </setting>
      <setting name="movie6Title" serializeAs="String">
        <value>Inception</value>
      </setting>
      <setting name="movie5Title" serializeAs="String">
        <value>Memento</value>
      </setting>
      <setting name="movie5Id" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="movie6Id" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="movie1Description" serializeAs="String">
        <value>Silent movie star George Valentin bemoans the coming era of talking pictures and fades into oblivion and self-destruction, but finds sparks with Peppy Miller, a young dancer lighting up talkies like no one else.</value>
      </setting>
      <setting name="movie2Description" serializeAs="String">
        <value>After he becomes a quadriplegic from a paragliding accident, an aristocrat hires a young man from the projects to be his caretaker.</value>
      </setting>
      <setting name="movie3Description" serializeAs="String">
        <value>A ballet dancer wins the lead in 'Swan Lake' and is perfect for the role of the delicate White Swan - Princess Odette - but slowly loses her mind as she becomes more and more like Odile, the Black Swan.</value>
      </setting>
      <setting name="movie4Description" serializeAs="String">
        <value>A film that explores the dark and miserable town, Basin City, and tells the story of three different people, all caught up in violent corruption.</value>
      </setting>
      <setting name="movie5Description" serializeAs="String">
        <value>A man, suffering from short-term memory loss, uses notes and tattoos to hunt for the man he thinks killed his wife.</value>
      </setting>
      <setting name="movie6Description" serializeAs="String">
        <value>In a world where technology exists to enter the human mind through dream invasion, a highly skilled thief is given a final chance at redemption which involves executing his toughest job to date: Inception.</value>
      </setting>
      <setting name="nonExistentMovieTitle" serializeAs="String">
        <value>Non existent movie title</value>
      </setting>
      <setting name="movie1And2CommonKeyword" serializeAs="String">
        <value>the</value>
      </setting>
      <setting name="linkReportThreshold" serializeAs="String">
        <value>-1</value>
      </setting>
    </Es.Udc.DotNet.WebMovies.Test.Properties.Settings>
  </applicationSettings>

</configuration>
